$utilities: map-merge(
  $utilities,
  (
    "position": (
      property: position,
      responsive: true,
      values: static relative absolute fixed sticky
    ),
    /* "font-family": (
      property: font-family,
      class: font,
      values: (
        monospace: var(--#{$prefix}font-monospace),
        NotoSansTC: $font-family-NotoSansTC,
        NotoSerifTC: $font-family-NotoSerifTC
      )
    ), */
    "font-size": (
      //rfs: true,
      property: font-size,
      class: fs,
      responsive: true,
      values: $font-sizes
    ),
    "font-weight": (
      property: font-weight,
      class: fw,
      responsive: true,
      values: (
        lighter: $font-weight-lighter,
        light: $font-weight-light,
        normal: $font-weight-normal,
        medium: $font-weight-medium,
        semibold: $font-weight-semibold,
        bold: $font-weight-bold,
        bolder: $font-weight-bolder,
        black: $font-weight-black
      )
    ),
    "line-height": (
      property: line-height,
      class: lh,
      responsive: true,
      values: (
        1: 1,
        sm: $line-height-sm,
        base: $line-height-base,
        lg: $line-height-lg,
      )
    ),
    "width": (
      property: width,
      class: w,
      responsive: true,
      values: (
        25: 25%,
        50: 50%,
        75: 75%,
        100: 100%,
        auto: auto
      )
    ),
    "translate-middle": (
      property: transform,
      class: translate-middle,
      responsive: true,
      values: (
        null: translate(-50%, -50%),
        x: translateX(-50%),
        y: translateY(-50%),
      )
    ),
    "letter-spacing": (
      property: letter-spacing,
      class: letter-spacing,
      responsive: true,
      values: (
        1\.6px: 1.6px,
        4\.8px: 4.8px,
        8px: 8px,
        12px: 12px,
        16px: 16px,
        20px: 20px,
        24px: 24px,
        26px: 26px,
        40px: 40px,
        48px: 48px
      )
    ),
  )
);
