<footer class="footer">
  <div class="container-md position-relative d-flex flex-column flex-lg-row justify-content-lg-between align-items-lg-center gap-2 gap-lg-0 p-10 p-lg-11">
    <div>
      <a href="./" class="fs-5 font-Shrikhand link-black">ALPHABOX+</a>
      <p class="d-none d-lg-block fw-medium letter-spacing-1.6px">Copyright © 2023 Hexschool.</p>
    </div>
    <span class="material-icons md-80 position-lg-absolute top-50 start-50 translate-middle-lg">emergency</span>
    <ul class="d-flex flex-column flex-lg-row gap-2 gap-lg-6 fw-bold fw-lg-normal">
      <li><a href="#" class="link-black">關於我們</a></li>
      <li><a href="#" class="link-black">產品資訊</a></li>
      <li><a href="faq.html" class="link-black">常見問題</a></li>
      <li><a href="#" class="link-black">隱私政策</a></li>
    </ul>
    <p class="d-lg-none fw-bold letter-spacing-1.6px">Copyright © 2023 Hexschool.</p>
  </div>
</footer>