.navbar {
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.16);
}

.navbar-toggler-icon {
  width: 44px;
  height: 44px;
}

.navbar-collapse-mobile {
  border-top: 1px solid #fff;
  background: linear-gradient(180deg, #7000FF 0%, #11002D 100%);
}
